<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Success</string>
		<key>text</key>
		<string>If at first you don&apos;t succeed, call it version 1.0.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Algorithm.</string>
		<key>text</key>
		<string>Word used by programmers when they don&apos;t want to explain what they did.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Programmer</string>
		<key>text</key>
		<string>A person who fixed a problem that you don&apos;t know you have, in a way you don&apos;t understand.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>No bugs</string>
		<key>text</key>
		<string>My software never has bugs.  
It just develops random features.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wealth</string>
		<key>text</key>
		<string>Q: What&apos;s object-oriented way to become wealthy? 
A: Inheritance.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Regular expressions.</string>
		<key>text</key>
		<string>I had a programming problem and decided to use regular expressions to solve it. Now I have two problems.
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Glasses</string>
		<key>text</key>
		<string>Q: Why do Java programmers have to wear glasses? 
A: Because they don&apos;t C#.</string>
	</dict>
</array>
</plist>
